# Configuracion del servidor
PORT=3000

# Conexion a PostgreSQL (Supabase)
# Ejemplo para Supabase: postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL="postgresql://postgres:password@localhost:5432/mistik_db?schema=public"
# Cadena directa para migraciones con Prisma (necesario si se usa connection pooler)
DIRECT_URL="postgresql://postgres:password@localhost:5432/mistik_db?schema=public"

# Seguridad y Autenticacion JWT
JWT_SECRET="mistik_jwt_secret_key_2026_capstone_secure"
JWT_EXPIRATION="1h"
